#introLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: none;
  -webkit-animation: fillLogo 2s ease forwards 2.4s;
          animation: fillLogo 2s ease forwards 2.4s;
}

#introLogo path {
  stroke: black;
  stroke-width: 3px;
}

#introLogo circle {
  fill: transparent;
  stroke: black;
  stroke-width: 0px;
}

#introLogo path:nth-child(1) {
  stroke-dasharray: 128.5460205078125;
  stroke-dashoffset: 128.5460205078125;
  -webkit-animation: strokeAnimation 1.5s ease forwards;
          animation: strokeAnimation 1.5s ease forwards;
}

#introLogo path:nth-child(2) {
  stroke-dasharray: 147.3062744140625;
  stroke-dashoffset: 147.3062744140625;
  -webkit-animation: strokeAnimation 1.5s ease forwards;
          animation: strokeAnimation 1.5s ease forwards;
}

#introLogo path:nth-child(3) {
  stroke-dasharray: 205.04403686523438;
  stroke-dashoffset: 205.04403686523438;
  -webkit-animation: strokeAnimation 1.5s ease forwards 0.5s;
          animation: strokeAnimation 1.5s ease forwards 0.5s;
}

#introLogo path:nth-child(4) {
  stroke-dasharray: 83.5780029296875;
  stroke-dashoffset: 83.5780029296875;
  -webkit-animation: strokeAnimation 1.5s ease forwards 0.5s;
          animation: strokeAnimation 1.5s ease forwards 0.5s;
}

#introLogo path:nth-child(5) {
  stroke-dasharray: 121.6500244140625;
  stroke-dashoffset: 121.6500244140625;
  -webkit-animation: strokeAnimation 1.5s ease forwards 0.5s;
          animation: strokeAnimation 1.5s ease forwards 0.5s;
}

#introLogo path:nth-child(6) {
  stroke-dasharray: 241.91812133789062;
  stroke-dashoffset: 241.91812133789062;
  -webkit-animation: strokeAnimation 1.5s ease forwards 1s;
          animation: strokeAnimation 1.5s ease forwards 1s;
}

#introLogo path:nth-child(7) {
  stroke-dasharray: 224.4420928955078;
  stroke-dashoffset: 224.4420928955078;
  -webkit-animation: strokeAnimation 1.5s ease forwards 1s;
          animation: strokeAnimation 1.5s ease forwards 1s;
}

#introCircle2 {
  width: 10%;
  -webkit-animation: circleStrokeAnimation 2.5s ease forwards 2.85s;
          animation: circleStrokeAnimation 2.5s ease forwards 2.85s;
}

#logoWrapper {
  -webkit-animation: hideLogo 1s ease forwards 5.2s;
          animation: hideLogo 1s ease forwards 5.2s;
}

@-webkit-keyframes strokeAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes strokeAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fillLogo {
  from {
    fill: transparent;
  }
  to {
    fill: #000000;
  }
}

@keyframes fillLogo {
  from {
    fill: transparent;
  }
  to {
    fill: #000000;
  }
}

@-webkit-keyframes displayCircle {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes displayCircle {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes circleStrokeAnimation {
  0% {
    stroke-width: 0px;
  }
  89% {
    stroke-width: 18px;
  }
  90% {
    fill: transparent;
  }
  100% {
    fill: #000000;
  }
}

@keyframes circleStrokeAnimation {
  0% {
    stroke-width: 0px;
  }
  89% {
    stroke-width: 18px;
  }
  90% {
    fill: transparent;
  }
  100% {
    fill: #000000;
  }
}

@-webkit-keyframes hideLogo {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes hideLogo {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
/*# sourceMappingURL=introLogo.css.map */