@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #78685e;
  font-family: "Fredoka", sans-serif;
}

#root {
  overflow: scroll;
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body.burgerActive {
  overflow: hidden !important;
}

#menuWrapper {
  position: absolute;
  top: 0;
  z-index: 2;
}

#menuWrapper #burgerMenu {
  width: 5vw;
  position: absolute;
  z-index: 10;
  margin-left: 7px;
  margin-top: 1px;
}

#menuWrapper #burgerMenu .line {
  width: 100%;
  height: 100%;
  padding: 4px;
  border-bottom: 2px solid #c7ff00;
}

#menuWrapper #burgerMenu #firstLine {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#menuWrapper #burgerMenu #firstLine.active {
  -webkit-transform: rotate(45deg) translate(9px, 6px);
          transform: rotate(45deg) translate(9px, 6px);
}

#menuWrapper #burgerMenu #secondLine {
  opacity: 100%;
  width: 60%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#menuWrapper #burgerMenu #secondLine.active {
  opacity: 0;
}

#menuWrapper #burgerMenu #thirdLine {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#menuWrapper #burgerMenu #thirdLine.active {
  -webkit-transform: rotate(-45deg) translate(4px, -9px);
          transform: rotate(-45deg) translate(4px, -9px);
}

nav {
  width: 100vw;
  background-color: #665950;
  pointer-events: none;
  opacity: 0;
  height: 0;
}

nav .navItem {
  padding-top: 9vh;
  color: #c7ff00;
  font-size: 4vh;
  list-style: none;
  text-align: center;
  opacity: 0;
}

nav.active {
  height: 100vh;
  opacity: 100%;
  padding-top: 10vh;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  position: absolute;
  top: 0;
  z-index: 9;
}

nav.active .navItem {
  opacity: 100%;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

#contentWrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
}

#intro {
  padding-top: 27vh;
}

#intro .introItem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  border-radius: 10px;
}

#intro #welcome {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#intro #welcome #welcomeText {
  margin: 15px 0 0 -57px;
  padding: 0;
  width: 50%;
  text-align: left;
  padding-left: 10px;
  font-size: 25px;
  color: #c7ff00;
}

#intro #welcome #welcomeText #welcomeTextJob {
  margin-left: 50px;
  font-size: 14px;
}

#intro #welcome #me {
  max-width: 40%;
  border-radius: 0 10px 10px 0;
}

#introBackground {
  position: absolute;
  z-index: -1;
  margin-top: -3vh;
  margin-left: -6vw;
  width: 68vw;
  height: 20vh;
  background-color: #615752;
  border-radius: 20px;
}

#arrowIntro {
  right: 5vh;
  bottom: 5vh;
  padding: 10px;
  display: inline-block;
  border: solid #c7ff00;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

.sectionHeading {
  text-align: center;
}

.highlight {
  color: #c7ff00;
}

h3 {
  font-size: 5vmin;
  margin-bottom: 5px;
}
/*# sourceMappingURL=main.css.map */