@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #3aafa9;
  font-family: "Fredoka", sans-serif;
}

body.burgerActive {
  overflow: hidden;
}

#contentWrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#contentWrapper #burgerMenu {
  width: 5vw;
  margin-left: 6px;
  position: absolute;
}

#contentWrapper #burgerMenu .line {
  width: 100%;
  height: 100%;
  padding: 0.5vh;
  border-bottom: 2px solid #1d2f2d;
}

#contentWrapper #burgerMenu #firstLine {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#contentWrapper #burgerMenu #firstLine.active {
  -webkit-transform: rotate(45deg) translate(6px, 5px);
          transform: rotate(45deg) translate(6px, 5px);
}

#contentWrapper #burgerMenu #secondLine {
  opacity: 100%;
  width: 60%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#contentWrapper #burgerMenu #secondLine.active {
  opacity: 0;
}

#contentWrapper #burgerMenu #thirdLine {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#contentWrapper #burgerMenu #thirdLine.active {
  -webkit-transform: rotate(-45deg) translate(3px, -9px);
          transform: rotate(-45deg) translate(3px, -9px);
}

#contentWrapper nav {
  width: 100vw;
  padding-top: 10vh;
  background-color: #969696;
  pointer-events: none;
  opacity: 0;
  height: 0;
}

#contentWrapper nav .navItem {
  padding-top: 9vh;
  font-size: 4vh;
  list-style: none;
  text-align: center;
  opacity: 0;
}

#contentWrapper nav.active {
  height: 100vh;
  opacity: 100%;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
}

#contentWrapper nav.active .navItem {
  opacity: 100%;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

#intro {
  margin-top: 16vh;
}

#intro .introItem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  border-radius: 10px;
}

#intro #welcome {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#intro #welcome #welcomeText {
  margin: 15px 0 0 -57px;
  padding: 0;
  width: 50%;
  text-align: left;
  padding-left: 10px;
  font-size: 25px;
}

#intro #welcome #welcomeText #welcomeTextJob {
  margin-left: 50px;
  font-size: 14px;
}

#intro #welcome #me {
  max-width: 50%;
  border-radius: 0 10px 10px 0;
}

#intro #arrowIntro {
  margin-top: 66vh;
  padding: 10px;
  display: inline-block;
  border: solid #1d2f2d;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 5vh;
}
/*# sourceMappingURL=main.css.map */