@media only screen and (min-width: 320px) {
    #timelineWrapper::after {
        max-height: 600px;
    }
}

@media only screen and (min-width: 375px) {
    #introBackground {
        margin-top: -38px;
        height: 170px;
    }
    #menuWrapper #burgerMenu {
        margin-left: 8px;
        margin-top: 2px;
    }

    #intro #welcome #welcomeText {
        font-size: 1.6rem;
    }

    #intro #welcome #welcomeText #welcomeTextJob {
        font-size: 1.1rem;
    }

    #skillsWrapper #skillTextContainer {
        font-size: 1.2rem;
    }

    #languages {
        padding-bottom: 18vmax;
    }

    #timelineWrapper {
        font-size: 1.1rem;
    }

    #timelineWrapper::after {
        max-height: 645px;
        margin-left: 110px;
    }

    .tlContent {
        padding-left: 6%;
    }

    .tlContent::after {
        left: 104px;
    }
}

@media only screen and (min-width: 425px) {
    #menuWrapper #burgerMenu {
        width: 3vw;
    }
    #introBackground {
        margin-top: -65px;
        height: 195px;
    }
    #intro #welcome #me {
        margin-top: -20px;
    }
    #timelineWrapper::after {
        margin-left: 120px;
    }
    .tlContent::after {
        left: 114px;
    }
}
@media only screen and (min-width: 550px) {
    h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    #introBackground {
        height: 160px;
        margin-top: -40px;
        width: 54vw;
    }
    #intro #welcome #me {
        max-width: 28%;
        margin-top: 5px;
    }
    .sectionHeading {
        padding: 4% 0 4% 0;
    }
    #timelineWrapper::after {
        margin-left: 160px;
    }
    .tlContent::after {
        left: 154px;
        footer img {
            width: 20%;
        }
    }
}

@media only screen and (min-width: 768px) {
    #menuWrapper #burgerMenu {
        width: 2vw;
    }
    #introBackground {
        width: 35vw;
    }
    #intro #welcome #me {
        max-width: 20%;
    }
    #timelineWrapper::after {
        margin-left: 230px;
    }
    .tlContent {
        padding-left: 16%;
    }
    .tlContent::after {
        left: 224px;
    }
    footer img {
        width: 15%;
    }
}

@media only screen and (min-width: 935px) {
    #skillsWrapper #skillTextContainer {
        font-size: 1.35rem;
    }
    #timelineWrapper::after {
        margin-left: 340px;
    }
    .tlContainer {
        padding: 29px 12px 12px 108px;
    }
    .tlContent::after {
        left: 334px;
    }
    footer img {
        width: 12%;
    }
}

@media only screen and (min-width: 1024px) {
    h3 {
        font-size: 1.2rem;
    }
    .menuActive {
        visibility: visible;
    }

    #nav {
        display: block;
        height: auto;
        text-align: center;
        background-color: #78685e;
        padding: 16px 0 16px 0;

        .navItem {
            opacity: 100%;
            text-align: unset;
            display: inline;
            font-size: 1.3rem;
            padding-left: 16px;
        }
    }
    #burgerMenu {
        display: none;
    }
    #arrowIntro {
        bottom: 10%;
    }
    #skillsWrapper {
        background-color: #78685e;
        padding-bottom: 100px;
        #upperWaveContainer {
            svg {
                fill: #78685e;
            }
        }
        #skillTextContainer {
            margin-top: 280px;
            color: #78685e;
            font-size: 1.1rem;

            .skillText {
                color: #78685e;
            }
        }
        #lowerWaveContainer {
            display: none;
        }
    }
    .skillSection {
        width: 35%;
        margin-right: auto;
        margin-left: 0;
    }

    #skillsHeading {
        margin-top: 250px;
        color: #78685e;
    }
    #languages {
        padding-bottom: 0;
    }
    #timelineWrapper {
        background-color: #5a4f46;
    }
    #timelineWrapper::after {
        background-color: #78685e;
    }
    footer {
        background-color: #615752;
        img {
            width: 10%;
        }
    }
}
