@media only screen and (min-width: 320px) {
  h3 {
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 375px) {
  #introBackground {
    margin-top: -38px;
    height: 170px;
  }
  #menuWrapper #burgerMenu {
    margin-left: 8px;
    margin-top: 2px;
  }
  #intro #welcome #welcomeText {
    font-size: 1.6rem;
  }
  #intro #welcome #welcomeText #welcomeTextJob {
    font-size: 1.1rem;
  }
  #skillsWrapper #skillTextContainer {
    font-size: 1.2rem;
  }
  #languages {
    padding-bottom: 18vmax;
  }
  #timelineWrapper {
    font-size: 1.1rem;
  }
  #timelineWrapper::after {
    top: 145px;
    max-height: 645px;
    margin-left: 110px;
  }
  .tlContent {
    padding-left: 6%;
  }
  .tlContent::after {
    left: 104px;
  }
}

@media only screen and (min-width: 425px) {
  #menuWrapper #burgerMenu {
    width: 3vw;
  }
  #introBackground {
    margin-top: -65px;
    height: 195px;
  }
  #intro #welcome #me {
    margin-top: -20px;
  }
  #timelineWrapper::after {
    margin-left: 120px;
  }
  .tlContent::after {
    left: 114px;
  }
}

@media only screen and (min-width: 550px) {
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  #introBackground {
    height: 160px;
    margin-top: -40px;
    width: 54vw;
  }
  #intro #welcome #me {
    max-width: 28%;
    margin-top: 5px;
  }
  .sectionHeading {
    padding: 4% 0 4% 0;
  }
  #timelineWrapper::after {
    margin-left: 160px;
  }
  .tlContent::after {
    left: 154px;
  }
  .tlContent::after footer img {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  #menuWrapper #burgerMenu {
    width: 2vw;
  }
  #introBackground {
    width: 35vw;
  }
  #intro #welcome #me {
    max-width: 20%;
  }
  #timelineWrapper::after {
    margin-left: 230px;
  }
  .tlContent {
    padding-left: 16%;
  }
  .tlContent::after {
    left: 224px;
  }
  footer img {
    width: 15%;
  }
}

@media only screen and (min-width: 935px) {
  #skillsWrapper #skillTextContainer {
    font-size: 1.35rem;
  }
  #timelineWrapper::after {
    margin-left: 340px;
  }
  .tlContainer {
    padding: 29px 12px 12px 108px;
  }
  .tlContent::after {
    left: 334px;
  }
  footer img {
    width: 12%;
  }
}

@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 1.2rem;
  }
  .menuActive {
    visibility: visible;
  }
  #nav {
    display: block;
    height: auto;
    text-align: center;
    background-color: #78685e;
    padding: 16px 0 16px 0;
  }
  #nav .navItem {
    opacity: 100%;
    text-align: unset;
    display: inline;
    font-size: 1.3rem;
    padding-left: 16px;
    cursor: pointer;
  }
  #burgerMenu {
    display: none;
  }
  #arrowIntro {
    bottom: 10%;
  }
  #skillsWrapper {
    background-color: #78685e;
    padding-bottom: 100px;
  }
  #skillsWrapper #upperWaveContainer svg {
    fill: #78685e;
  }
  #skillsWrapper #skillTextContainer {
    margin-top: 280px;
    color: #78685e;
    font-size: 1.1rem;
  }
  #skillsWrapper #skillTextContainer .skillText {
    color: #78685e;
  }
  #skillsWrapper #lowerWaveContainer {
    display: none;
  }
  .skillSection {
    width: 35%;
    margin-right: auto;
    margin-left: 0;
  }
  #skillsHeading {
    margin-top: 250px;
    color: #78685e;
  }
  #languages {
    padding-bottom: 0;
  }
  #timelineWrapper {
    background-color: #5a4f46;
  }
  #timelineWrapper::after {
    background-color: #78685e;
    margin-left: 380px;
  }
  .tlConten {
    padding-left: 20%;
  }
  .tlContent::after {
    left: 374px;
  }
  footer {
    background-color: #615752;
  }
  footer img {
    width: 10%;
  }
}

@media only screen and (min-width: 1220px) {
  #timelineWrapper::after {
    margin-left: 540px;
  }
  .tlContainer {
    padding: 29px 12px 12px 200px;
  }
  .tlContent {
    padding-left: 22%;
  }
  .tlContent::after {
    left: 534px;
  }
}

@media only screen and (min-width: 1440px) {
  #introBackground {
    width: 26vw;
    height: 200px;
    margin-top: -60px;
  }
  #intro #welcome #me {
    max-width: 16%;
  }
  #skillsHeading {
    margin-top: 350px;
  }
  #skillsWrapper {
    padding-bottom: 160px;
  }
  #skillsWrapper #skillTextContainer {
    margin-top: 410px;
  }
  #timelineWrapper::after {
    margin-left: 616px;
  }
  .tlContent {
    padding-left: 22%;
  }
  .tlContent::after {
    left: 610px;
  }
  .tlTextRight {
    padding-left: 32vw;
  }
}

@media only screen and (min-width: 1700px) {
  #skillsHeading {
    margin-top: 400px;
  }
  #skillsWrapper {
    padding-bottom: 224px;
  }
  #skillsWrapper #skillTextContainer {
    margin-top: 470px;
  }
  .skillSection {
    width: 24%;
  }
  #timelineWrapper::after {
    margin-left: 666px;
  }
  .tlContent {
    padding-left: 24%;
  }
  .tlContent::after {
    left: 660px;
  }
}

@media only screen and (min-width: 1920px) {
  #timelineWrapper::after {
    margin-left: 836px;
    top: 200px;
  }
  #tlHeading {
    padding-bottom: 100px;
  }
  .tlContainer {
    padding: 29px 12px 12px 270px;
  }
  .tlContent {
    padding-left: 27%;
  }
  .tlContent::after {
    left: 830px;
  }
  footer img {
    width: 8%;
  }
}

@media only screen and (min-width: 2150px) {
  #timelineWrapper::after {
    margin-left: 916px;
  }
  .tlContent::after {
    left: 910px;
  }
}

@media only screen and (min-width: 2450px) {
  #skillsHeading {
    margin-top: 640px;
  }
  #skillsWrapper {
    padding-bottom: 400px;
  }
  #skillsWrapper #skillTextContainer {
    margin-top: 700px;
  }
  .skillSection {
    width: 20%;
  }
  #tlHeading {
    padding-top: 120px;
    padding-bottom: 220px;
  }
  #timelineWrapper::after {
    top: 350px;
    max-height: 660px;
    margin-left: 1066px;
  }
  .tlContainer {
    padding: 29px 12px 12px 338px;
  }
  .tlContent {
    padding-left: 28%;
  }
  .tlContent::after {
    left: 1060px;
  }
  .tlTextRight {
    margin-top: -2.5vh;
  }
  footer img {
    width: 7%;
  }
}

@media only screen and (min-width: 2560px) {
  #nav .navItem {
    font-size: 1.7rem;
  }
  #introBackground {
    width: 24vw;
  }
}

@media only screen and (min-width: 2750px) {
  #timelineWrapper::after {
    margin-left: 1170px;
  }
  .tlContent::after {
    left: 1164px;
  }
}

@media only screen and (min-width: 3000px) {
  #timelineWrapper::after {
    margin-left: 1346px;
  }
  .tlContainer {
    padding: 29px 12px 12px 450px;
  }
  .tlContent::after {
    left: 1340px;
  }
  footer img {
    width: 6%;
  }
}

@media only screen and (min-width: 3440px) {
  h3 {
    font-size: 2.2rem;
  }
  #nav .navItem {
    font-size: 2.5rem;
    padding-left: 40px;
  }
  .sectionHeading {
    font-size: 2rem;
  }
  #introBackground {
    height: 240px;
  }
  #intro #welcome #welcomeText {
    font-size: 2.5rem;
    padding-left: 6px;
  }
  #intro #welcome #welcomeText #welcomeTextJob {
    font-size: 1.8rem;
  }
  #skillsHeading {
    margin-top: 940px;
  }
  #skillsWrapper {
    padding-bottom: 600px;
  }
  #skillsWrapper #skillTextContainer {
    margin-top: 1100px;
    font-size: 1.8rem;
  }
  #tlHeading {
    padding-top: 160px;
    padding-bottom: 200px;
  }
  #timelineWrapper {
    font-size: 1.8rem;
  }
  #timelineWrapper::after {
    max-height: 1000px;
    top: 414px;
    margin-left: 1480px;
  }
  .tlContent::after {
    top: 38px;
    left: 1474px;
  }
}

@media only screen and (min-width: 3840px) {
  #timelineWrapper::after {
    margin-left: 1600px;
  }
  .tlContainer {
    padding: 29px 12px 12px 550px;
  }
  .tlContent::after {
    left: 1594px;
  }
}
/*# sourceMappingURL=mediaQueries.css.map */